@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Nanum+Gothic&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import "../styles/button.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  padding: 0;
  /* background: rgb(248, 248, 248); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-primary {
  /* background-image: url("https://images.unsplash.com/photo-1699891730676-037bed3c1bed?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8d2Vic2l0ZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D"); */
  background-image: url("https://t4.ftcdn.net/jpg/05/51/44/83/360_F_551448354_EgUeOeV9K0lezuJ27xIsYCgrS4tPnu7Q.jpg");
  background: linear-gradient(to right, #005326, #00003b);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: white;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.contact--section {
  background-image: url("https://cdn.prod.website-files.com/5e91d7d396104669fa73d520/65baab162ae54c8c249ddf80_hero-bg.svg");

  background-repeat: no-repeat;
  background-size: cover;
}
